$main-collor: #212121;
$add-color: #2196f3;
$filter-menu: #757575;
$background-color: #ffffff;
$fon-color: #f5f4fa;
$text-color: #ffffff;
$icon-color: #afb1b8;

@media screen and (min-width: 480px) {
  $main-collor: #212121;
  $add-color: #2196f3;
  $filter-menu: #757575;
  $background-color: #ffffff;
  $fon-color: #f5f4fa;
  $text-color: #ffffff;
  $icon-color: #afb1b8;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: $filter-menu;
  background-color: $background-color;
}
.section {
  width: 100%;

  @media screen and (min-width: 480px) {
    padding-bottom: 60px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    padding-bottom: 60px;
  }
  @media screen and (min-width: 1200px) {
    padding-bottom: 94px;
  }
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  max-width: 480px;

  @media screen and (min-width: 480px) {
    max-width: 480px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    max-width: 768px;
  }
  @media screen and (min-width: 1200px) {
    max-width: 1200px;
  }
}
